
.login-body {
  max-width: 500px;
  margin: 0 auto;   /* horizontal centering */
  padding: 0 20px;
  margin-top: 150px;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;  /* Allow wrapping for smaller screens */
  gap: 10px;  /* Add some space between elements */
}

.form-row label {
  width: 90px;
  flex-shrink: 0;  /* Prevent label from shrinking */
}

.form-row input {
  flex: 1;
  padding: 8px;
  min-width: 0px;  /* Ensure input doesn't get too small */
}

.send-otp {
  white-space: nowrap;
  color: #2c3e50;
}

#login-btn {
  padding: 8px 24px;
  background-color: #2c3e50;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.button-row {
  justify-content: center;
  margin-top: 30px;
}
.error-message {
  flex-basis: 100%;
  color: red;
  font-size: 0.9rem;
  margin-left: 100px;
}